/* font style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles */

body {
    font-family: 'Poppins', sans-serif;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    width: 90%;
    height: 645px;
}

/*--------------------
 Part one start 
 --------------------*/

.half-width {
    width: 100%;
}

.part-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: white;
    background-color: #161616;
    border-radius: 30px;
}

.show-info {
    padding-left: 80px;
}

.show-info .heading-title {
    font-size: 70px;
}

.show-info p {
    padding-bottom: 25px;
    margin-top: -30px;
}

.show-info .button {
    text-decoration: none;
    color: white;
    background-color: #DD0000;
    padding: 15px 20px;
    border-radius: 5px;
}

.show-info .button i {
    padding-left: 10px;
}

.banner-image img {
    width: 581px;
    height: 613px;
}

/* ----------------------
part two start 
--------------------------*/

.blogs {
    display: flex;
    margin-top: 5%;
}

.fixed-box {
    display: grid;
    grid-template-columns: repeat(1, 220px);
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 280px;
    width: 250px;
    border-radius: 10px;
}

.mini-box {
    background-color: white;
    text-align: center;
    border-radius: 15px;
    padding: 17px 0;
}

.fixed-box a {
    text-decoration: none;
    color: black;
}

.fixed-box .blog-color {
    background-color: #DD0000;
}

.fixed-box .blog-color a {
    color: white;
}

/* Player box start */

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    row-gap: 15px;
    width: 70%;


}

.player {
    border: 1px solid lightgray;
    width: 312px;
    height: 362px;
    border-radius: 10px;
}

.detail {
    color: #161616;
    padding: 20px;
}

.detail .button {
    border: 1px solid gray;
    text-decoration: none;
    color: #161616;
    font-size: 16px;
    padding: 4px 16px;
}

.detail .heading-title {
    font-size: 18px;
}

.icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.icons span {
    padding-left: 10px;
}

/* -------------------
Upcomming match start 
-----------------------*/

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    row-gap: 15px;
    padding-left: 15px;

}

.card {
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    text-align: center;
    padding: 30;
}

.card .banner {
    display: flex;
    padding: 50px 25px 0px 25px;
}

.card .banner p {
    padding: 0 10px;
}

.cards .detail p {
    color: #4D4D4D;
    font-size: 16px;
}

.cards .detail h2 {
    font-size: 20px;
}

/* -------------------
Footer part 
---------------------*/

footer {
    text-align: center;
    margin-top: 22%;
    background-color: #161616;
    color: white;

}

.footer {
    margin-top: 0;
}

footer .heading-title {
    padding-top: 60px;
}

.services {
    display: flex;
    border-top: 1px solid rgb(46, 45, 45);
    padding: 30px 40px 20px 200px;

}

.services p {
    text-align: center;
    padding: 5px 18px;
    color: #B9B9B9;
    font-size: 16px;
}

.service-icons i {
    font-size: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}















/* ------------------
Media Quary start 
--------------------*/

/* Mobile device */

@media only screen and (max-width: 576px) {
    .container {
        width: 100%;
    }

    .main {
        width: 100%;
        text-align: center;

    }

    .part-1 {
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column-reverse;
        align-items: center;
    }
}


/* tablet device */

@media only screen and (min-width: 577px) and (max-width: 992px) {
    .container {
        width: auto;
    }

    .part-1 {
        grid-template-columns: repeat(2, 1fr);
    }

    .blogs {
        display: flex;
        flex-direction: column;
    }

}